<br/>
<div class="card col-md-4 offset-md-4 offset-md-4 shadow-lg">
    <div class="card-body">
        <h2 class="data4">Employee Details Page</h2>
    <table class="table data">
    <thead>
        <tr>
            <th class="data2">Emp Name</th>
            <td class="data3">{{employee.empName}}</td>
        </tr>

        <tr>
            <th class="data2">Emp Sal</th>
            <td class="data3">{{employee.empSal}}</td>
        </tr>

        <tr>
            <th class="data2">Emp Created Date</th>
            <td class="data3">{{employee.createdDate}}</td>
        </tr>


        <tr>
            <th class="data2">Emp Updated Date</th>
            <td class="data3">{{employee.updatedDate}}</td>
        </tr>
    </thead>
</table>
</div>
</div>