<div class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li><a routerLink="employees"  routerLinkActive="true" class="nav-link text-white data">List Employees</a></li>
      <li><a routerLink="create-employee"  routerLinkActive="true" class="nav-link text-white data">Add Employee</a></li>
    </ul>
  </div>
</div>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="ftr">
  <p>@All Rights Reserved By The Developer</p>
</footer>