.data1{
    text-align: center;
    color: darkblue;
}

.data2 {
    font-size: 23px;
}

.data3{
    font-size: 23px;
    color: darkblue;
}

.msg{
    text-align: center;
    font-size: 22px;
    color: darkblue;
}